@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800);
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.img-w-h {
  width: 400px;
  height: 235px;
  padding: 2px;
}
